DATABASE_URL="postgresql://postgres:password@localhost:5432/app"

BETTER_AUTH_SECRET="super-secret"

SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_SECURE="false"
SMTP_USER="username"
SMTP_PASS="password"
SMTP_FROM="no-reply@localhost"

AWS_ACCESS_KEY_ID="admin"
AWS_SECRET_ACCESS_KEY="password"
AWS_REGION="ap-southeast-1"
AWS_S3_ENDPOINT="http://localhost:9000",
AWS_S3_BUCKET="app"
FORCE_PATH_STYLE="true"